<div
    [formGroup]="Form"
    class="form"
>
    <mat-form-field appearance="fill">
        <mat-label>
            Категория операции
        </mat-label>
        <mat-select
            multiple
            formControlName="categories"
            [compareWith]="compareCategories"
        >
            <mat-option
                *ngFor="let category of Categories"
                [value]="category"
            >
                {{ category.Name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>