<div
    [formGroup]="Form"
    class="form"
>
    <mat-form-field
        appearance="fill"
        class="form-field"
    >
        <mat-label>
            Категории операции
        </mat-label>
        <mat-select
            multiple
            formControlName="categories"
            [compareWith]="compareCategories"
        >
            <mat-option
                *ngFor="let category of CategoriesByDirections"
                [value]="category"
            >
                {{ category.Name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>