<!-- <transaction-table-header></transaction-table-header> -->

<ng-container *ngIf="IsTransactionLoaded;else loader">
    <div class="transaction-wrapper">
        <div
            *ngFor="let group of TransactionGroups"
            class="transaction-group"
        >
            <div class="group-date">
                <button mat-icon-button color="primary" class="group-date__add-btn" (click)="openTransactionEditor()">
                    <mat-icon>add_circle</mat-icon>
                </button>
            
                <span class="group-date__text">
                    {{ group.date }}
                </span>
            </div>

            <transaction-table-body
                [Transactions]="group.transactions"
                (OpenTransactionEditor)="openTransactionEditor($event)"
                (CloneTransaction)="cloneTransaction($event)"
            ></transaction-table-body>
        </div>
    </div>

    <transaction-pagination
        (pageEvent)="onPageEvent($event)"
        [pagination]="Pagination"
    ></transaction-pagination>
</ng-container>

<ng-template #loader>
    <div class="loader">
        <mat-spinner></mat-spinner>
        <span class="loader__text">загрузка списка транзакций</span>
    </div>
</ng-template>