:host {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 70px;
    height: inherit;
    overflow: hidden;
}

.transaction-wrapper {
    overflow: auto;
}

.transaction-group {
    display: flex;
    flex-direction: column;
}

.group-date {
    align-items: center;
    display: flex;
    justify-content: center;

    &__add-btn {
        margin-right: 10px;
    }

    &__text {
        font-size: 18px;
        padding: 15px 0;
        text-align: center;
    }
}