.transaction-pagination {
    align-items: center;
    background: #3f51b5;
    display: flex;
    height: 70px;
    justify-content: center;

    .mat-paginator-container {
        background: #3f51b5;
        color: white;
    }
    
    .mat-paginator-icon {
        fill: white;
    }

    .mat-paginator-page-size {
        align-items: center;
    }

    .mat-paginator-page-size-select {
        margin-top: 0px;
    }
}
