<div class="filters">
    <div class="filter-container">
        <ng-container *ngIf="TransactionTypes.length > 0">
            <transaction-types
                (ChangeSelectedTransactionTypes)="onChangedSelectedTransactionTypes($event)"
                [Types]="TransactionTypes"
            ></transaction-types>
        </ng-container>
    </div>

    <div class="filter-container">
        <ng-container *ngIf="TransactionStatuses.length > 0">
            <transaction-statuses
                (ChangeSelectedTransactionStatuses)="onChangedSelectedTransactionStatuses($event)"
                [Statuses]="TransactionStatuses"
            ></transaction-statuses>
        </ng-container>
    </div>

    <div
        *ngIf="Users.length > 0"
        class="filter-container"
    >
        <payers
            (ChangeSelectedPayers)="onChangedSelectedUsers($event)"
            [Payers]="Users"
        ></payers>
    </div>

    <div class="filter-container">
        <period (ChangeSelectedPeriod)="onChangedSelectedPeriod($event)"></period>
    </div>

    <div
        *ngIf="TransactionDirections.length > 0"
        class="filter-container"
    >
        <transaction-directions
            (ChangeSelectedTransactionDirections)="onChangedSelectedTransactionDirections($event)"
            [Directions]="TransactionDirections"
        ></transaction-directions>
    </div>

    <div
        *ngIf="TransactionCategories.length > 0"
        class="filter-container"
    >
        <transaction-categories
            (ChangeSelectedTransactionCategories)="onChangedSelectedTransactionCategories($event)"
            [Categories]="TransactionCategories"
            [Directions]="SelectedTransactionDirections"
        ></transaction-categories>
    </div>

    <div
        *ngIf="TransactionTags.length > 0"
        class="filter-container"
    >
        <transaction-tags
            (ChangeSelectedTransactionTags)="onChangedSelectedTransactionTags($event)"
            [Tags]="TransactionTags"
        ></transaction-tags>
    </div>
</div>