<div class="filters">
    <div class="filter-container">
        <ng-container *ngIf="TransactionTypes.length > 0">
            <transaction-types
                (ChangeSelectedTransactionTypes)="onChangedSelectedTransactionTypes($event)"
                [Types]="TransactionTypes"
            ></transaction-types>
        </ng-container>
    </div>

    <div class="filter-container">
        <ng-container *ngIf="TransactionStatuses.length > 0">
            <transaction-statuses
                (ChangeSelectedTransactionStatuses)="onChangedSelectedTransactionStatuses($event)"
                [Statuses]="TransactionStatuses"
            ></transaction-statuses>
        </ng-container>
    </div>

    <div class="filter-container">
        <ng-container *ngIf="Users.length > 0">
            <users
                (ChangeSelectedUsers)="onChangedSelectedUsers($event)"
                [Users]="Users"
            ></users>
        </ng-container>
    </div>

    <div class="filter-container">
        <dates (ChangeSelectedPeriod)="onChangedSelectedPeriod($event)"></dates>
    </div>

    <div class="filter-container">
        <ng-container *ngIf="TransactionCategories.length > 0">
            <transaction-categories
                (ChangeSelectedTransactionCategories)="onChangedSelectedTransactionCategories($event)"
                [Categories]="TransactionCategories"
            ></transaction-categories>
        </ng-container>
    </div>

    <div class="filter-container">
        <ng-container *ngIf="TransactionCategoryOptions.length > 0">
            <transaction-category-options
                (ChangeSelectedTransactionCategoryOptions)="onChangedSelectedTransactionCategoryOptions($event)"
                [CategoryOptions]="TransactionCategoryOptions"
            ></transaction-category-options>
        </ng-container>
    </div>

    <div class="filter-container">
        <ng-container *ngIf="TransactionSubCategories.length > 0">
            <transaction-subcategories
                (ChangeSelectedTransactionSubCategories)="onChangedSelectedTransactionSubCategories($event)"
                [SubCategories]="TransactionSubCategories"
            ></transaction-subcategories>
        </ng-container>
    </div>

    <div class="filter-container">
        <ng-container *ngIf="TransactionSubCategoryFirstOptions.length > 0">
            <transaction-subcategory-first-options
                (ChangeSelectedTransactionSubCategoryFirstOptions)="onChangedSelectedTransactionSubCategoryFirstOptions($event)"
                [SubCategoryFirstOptions]="TransactionSubCategoryFirstOptions"
            ></transaction-subcategory-first-options>
        </ng-container>
    </div>

    <div class="filter-container">
        <ng-container *ngIf="TransactionSubCategorySecondOptions.length > 0">
            <transaction-subcategory-second-options
                (ChangeSelectedTransactionSubCategorySecondOptions)="onChangedSelectedTransactionSubCategorySecondOptions($event)"
                [SubCategorySecondOptions]="TransactionSubCategorySecondOptions"
            ></transaction-subcategory-second-options>
        </ng-container>
    </div>
</div>