@import './styles/variables.scss';

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #3f51b5;
    padding: 12px 0;
}

.filter-container {
    margin-right: 24px;

    &:last-child {
        margin-right: 0;
    }
}

@media (max-width: $mobile-width) {
    .filter-container {
        margin: 10px 24px;
        width: 100%;

        &:last-child {
            margin-right: 24px;
        }
    }
}