<div class="filters">
    <div class="filter-container">
        <ng-container *ngIf="TransactionTypes.length > 0">
            <transaction-types
                (ChangeSelectedTransactionTypes)="onChangedSelectedTransactionTypes($event)"
                [Types]="TransactionTypes"
            ></transaction-types>
        </ng-container>
    </div>

    <div class="filter-container">
        <ng-container *ngIf="TransactionStatuses.length > 0">
            <transaction-statuses
                (ChangeSelectedTransactionStatuses)="onChangedSelectedTransactionStatuses($event)"
                [Statuses]="TransactionStatuses"
            ></transaction-statuses>
        </ng-container>
    </div>

    <div
        *ngIf="Users.length > 0"
        class="filter-container"
    >
        <users
            (ChangeSelectedUsers)="onChangedSelectedUsers($event)"
            [Users]="Users"
        ></users>
    </div>

    <div class="filter-container">
        <dates (ChangeSelectedPeriod)="onChangedSelectedPeriod($event)"></dates>
    </div>

    <div
        *ngIf="TransactionCategories.length > 0"
        class="filter-container"
    >
        <transaction-categories
            (ChangeSelectedTransactionCategories)="onChangedSelectedTransactionCategories($event)"
            [Categories]="TransactionCategories"
        ></transaction-categories>
    </div>

    <div
        *ngIf="TransactionCategoryOptions.length > 0"
        class="filter-container"
    >
        <transaction-category-options
            (ChangeSelectedTransactionCategoryOptions)="onChangedSelectedTransactionCategoryOptions($event)"
            [CategoryOptions]="TransactionCategoryOptions"
        ></transaction-category-options>
    </div>

    <div
        *ngIf="TransactionSubCategories.length > 0"
        class="filter-container"
    >
        <transaction-subcategories
            (ChangeSelectedTransactionSubCategories)="onChangedSelectedTransactionSubCategories($event)"
            [SubCategories]="TransactionSubCategories"
        ></transaction-subcategories>
    </div>

    <div
        *ngIf="TransactionSubCategoryFirstOptions.length > 0"
        class="filter-container"
    >
        <transaction-subcategory-first-options
            (ChangeSelectedTransactionSubCategoryFirstOptions)="onChangedSelectedTransactionSubCategoryFirstOptions($event)"
            [SubCategoryFirstOptions]="TransactionSubCategoryFirstOptions"
        ></transaction-subcategory-first-options>
    </div>

    <div
        *ngIf="TransactionSubCategorySecondOptions.length > 0"
        class="filter-container"
    >
        <transaction-subcategory-second-options
            (ChangeSelectedTransactionSubCategorySecondOptions)="onChangedSelectedTransactionSubCategorySecondOptions($event)"
            [SubCategorySecondOptions]="TransactionSubCategorySecondOptions"
        ></transaction-subcategory-second-options>
    </div>
</div>