<div
    [formGroup]="Form"
    class="form"
>
    <mat-form-field appearance="fill">
        <mat-label>
            Опция категории операции
        </mat-label>
        <mat-select
            multiple
            formControlName="categoryOptions"
            [compareWith]="compareCategoryOptions"
        >
            <mat-option
                *ngFor="let option of CategoryOptions"
                [value]="option"
            >
                {{ option.Name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>