<div
    [formGroup]="Form"
    class="form"
>
    <mat-form-field appearance="fill">
        <mat-label>
            Плательщик
        </mat-label>
        <mat-select
            multiple
            formControlName="users"
            [compareWith]="compareUsers"
        >
            <mat-option
                *ngFor="let user of Users"
                [value]="user"
            >
                {{ user.FullName | fullname }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>