<div
    [formGroup]="Form"
    class="form"
>
    <mat-form-field appearance="fill">
        <mat-label>
            Опция 1-ого уровня подкатегории
        </mat-label>
        <mat-select
            multiple
            formControlName="subCategoryFirstOptions"
            [compareWith]="compareSubCategoryFirstOptions"
        >
            <mat-option
                *ngFor="let firstOption of SubCategoryFirstOptions"
                [value]="firstOption"
            >
                {{ firstOption.Name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>