<div
    [formGroup]="Form"
    class="form"
>
    <mat-form-field appearance="fill">
        <mat-label>
            Подкатегория операции
        </mat-label>
        <mat-select
            multiple
            formControlName="subCategories"
            [compareWith]="compareSubCategories"
        >
            <mat-option
                *ngFor="let subCategory of SubCategories"
                [value]="subCategory"
            >
                {{ subCategory.Name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>