$mobile-width: 800px;

:host {
    display: flex;
    flex-direction: column;
    height: inherit;
    overflow: hidden;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    height: inherit;
}

.financial-filter-switcher {
    align-items: center;
    background: #3f51b5;
    color: #fff;
    cursor: pointer;
    display: none;
    justify-content: center;
    padding: 10px 0;

    & > * {
        margin-left: 10px;

        &:first-child {
            margin-left: 0;
        }
    }
}

.financial-filter-container {
    display: flex;
    flex-direction: column;
    min-height: 80px;
}

.financial-transactions-container {
    display: flex;
    flex-direction: column;
    height: inherit;
    overflow: auto;
}

.transactions-total-amount {
    background: #3f51b5;
    color: #ffffff;
    display: flex;
    height: 80px;

    &-section {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: inherit;
        justify-content: center;
    }

    &-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    &-label {
        border-bottom: 1px solid #ffffff;
        margin-bottom: 8px;
        padding-bottom: 8px;
        text-align: center;
        width: 100%;
    }

    &-value {

    }

    &-loader {
        align-items: center;
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }
}

@media (max-width: $mobile-width) {
    .financial-filter-switcher {
        display: flex;
    }

    .financial-filter-container,
    .financial-transactions-container {
        display: none;
    }

    .dashboard-container--only-filter {
        background: #3f51b5;
    }

    .visible {
        display: block;
    }
}